.cardList {
	grid-column: 2;
	display: grid;
	grid-template-columns: repeat(3, 14vw);
	gap: 1em;
}

@media only screen and (max-width: 600px) {
	.cardList {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
